<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

   <context:component-scan base-package="com.daiq"/>

	<bean id="dataSource_oracle" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL" />
		<property name="username" value="scott" />
		<property name="password" value="tiger" />
	</bean>
	
	<bean id="sqlMapClient"  
        class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">   
        <property name="configLocation"  
            value="classpath:config/sqlMapConfig.xml" />   
        <property name="dataSource" ref="dataSource_oracle" />   
    </bean>
    
    
     <bean id="sqlMapClient_2"  
        class="org.springframework.orm.ibatis.SqlMapClientTemplate">   
        <property name="sqlMapClient"   ref="sqlMapClient" />   
        <property name="dataSource" ref="dataSource_oracle" />   
    </bean>
    
    <!--  
    <bean id="baseDao" class="com.daiq.dao.baseDao">
	</bean>
	-->
	
    <!--  
    <bean id="Student_dao" class="com.daiq.dao.Student_daoImpl">
     <property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>  
	-->
	
</beans>

   
<!--   
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
--> 

 <!--  
 
  <context:annotation-config/>
 
  <bean id="userDAO_id" class="com.daiqiang.dao.impl.UserDAOImpl">
  </bean>
	
  <bean id="userService_id" class="com.daiqiang.service.impl.UserServiceImpl">
  	<property name="userDAO" ref="userDAO_id"/>
  </bean>
 -->